
.container-log label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}

html,
body {
  height: 100%;
  width: 100%;
}



.container-log {
  background-color: #fff;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1)
}

.container-log>h2 {
  margin-bottom: 20px;
}

.container-log>form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-log div {
  display: flex;
  flex-direction: column;
}

.container-log input {
  font-size: 14px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.container-log input:focus {
  border-bottom: 1px solid #007bff;
}

.container-log input::placeholder {
  font-size: 12px;
  font-style: italic;
  color: #ccc;
}

.container-log button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #186f1b;
  color: #fff;
  cursor: pointer;
  margin: 10px 0;
}